# WARNING:
# Do not use this file as a template for you repository TravisCI configuration
# Instead use the files under the "/sample_files" directory for that purpose.
language: python
sudo: false
cache: pip

python:
  - "2.7"

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml

virtualenv:
  system_site_packages: true

env:

  global:
  - VERSION="8.0" TESTS="1" LINT_CHECK="0"

  matrix:
  - INCLUDE="broken_module" SERVER_EXPECTED_ERRORS="1"  # test errors are detected
  - EXCLUDE="broken_module" OPTIONS="--log-level=debug" INSTALL_OPTIONS="--log-level=info"
  - INCLUDE="test_module,second_module" UNIT_TEST="1"
  - VERSION="7.0" INCLUDE="test_module,second_module" ODOO_REPO="OCA/OCB"  # ODOO_REPO usage example
  - VERSION="6.1" INCLUDE="test_module,second_module"
  - LINT_CHECK="1" TESTS="0" PYLINT_EXPECTED_ERRORS="18" TRAVIS_PULL_REQUEST="false" # Use main pylint config file
  - VERSION=master LINT_CHECK="1" TESTS="0" PYLINT_EXPECTED_ERRORS="40" TRAVIS_PULL_REQUEST="true"  # Use PR pylint config file
  - VERSION="7.0" LINT_CHECK="1" TESTS="0" PYLINT_EXPECTED_ERRORS="34" TRAVIS_PULL_REQUEST="true"  # To check pylint_conf of PR's with old api

install:
  - cp -r ../maintainer-quality-tools/ $HOME
  - mv tests/test_repo/* ./
  - export PATH=$HOME/maintainer-quality-tools/travis:$PATH
  - travis_install_nightly 8.0 # only used if VERSION not set in env

script:
  - coverage run --append ./travis/self_tests
  - coverage run --append ./travis/travis_run_tests 8.0  # only used if VERSION not set in env

after_success:
  - coveralls
