simplejson
pyserial
pyopenssl>=16.2.0
pyyaml==3.12 ; python_version < '3.7'
pyyaml==3.13 ; python_version >= '3.7'
coveralls
websocket-client
unittest2
six
configparser

# transifex requirements
polib
slumber
transifex-client==0.12.5

# Supports code-block for module/README.rst
# More info about: https://github.com/OCA/maintainer-quality-tools/issues/568
pygments
