simplejson
pyserial
pyopenssl>=16.2.0
pyyaml==5.2; python_version <= '3.4'
pyyaml; python_version >= '3.5'
coveralls
websocket-client
unittest2

# transifex requirements
polib
slumber
transifex-client
