simplejson
pyserial
pyopenssl>=16.2.0
pyyaml==3.12 ; python_version < '3.7'
pyyaml==3.13 ; python_version >= '3.7'
websocket-client
unittest2
six

# Supports code-block for module/README.rst
# More info about: https://github.com/OCA/maintainer-quality-tools/issues/568
pygments
