Python-Chart==1.39
babel >= 1.0
decorator
docutils
feedparser
gdata
gevent
psycogreen
Jinja2
#lxml - installed using apt-get
mako
mock
passlib
pillow == 3.4.2
polib
psutil
psycopg2 >= 2.2
pydot
pyparsing != 2.0.0
pyPdf
pyserial
python-dateutil != 2.0.0
# python-ldap
python-openid
pytz
pyusb >= 1.0.0b1
pyyaml
qrcode
reportlab
requests[security]
simplejson
slumber
transifex-client
unittest2
vatnumber
vobject
werkzeug
xlwt
