http://download.gna.org/pychart/PyChart-1.39.tar.gz
babel >= 1.0
decorator
docutils
feedparser
gdata
gevent
psycogreen
Jinja2
#lxml - installed using apt-get
mako
mock
passlib
pillow
psutil
psycopg2 >= 2.2
pydot
pyparsing < 2
pyPdf
pyserial
python-dateutil < 2
# python-ldap
python-openid
pytz
pyusb >= 1.0.0b1
pyyaml
qrcode
reportlab
requests[security]
simplejson
slumber
transifex-client == 0.11b3
unittest2
vatnumber
vobject
werkzeug
xlwt
