# This config file is not a real pylint config file.
# This file overwrites params of base template.

[ODOOLINT]
manifest_deprecated_keys=

[MESSAGES CONTROL]
# Disable message and code:
#   api-one-deprecated - W8104
#   attribute-deprecated - W8105
#   copy-wo-api-one - W8102
#   class-camelcase - C8104
#   missing-readme - C7902
#   old-api7-method-defined - R8110
#   openerp-exception-warning - R8101
#   missing-import-error - W7935
#   missing-manifest-dependency - W7936

disable=api-one-deprecated,
    attribute-deprecated,
    copy-wo-api-one,
    class-camelcase,
    missing-readme,
    old-api7-method-defined,
    openerp-exception-warning,
    missing-import-error,
    missing-manifest-dependency,
    redefined-builtin,

[IMPORTS]
deprecated-modules=pdb,pudb,ipdb

